[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = scarthgap
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/yoctoproject/poky.git
	branch = scarthgap
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = scarthgap
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "layers/meta-security"]
	path = layers/meta-security
	url = git://git.yoctoproject.org/meta-security
	branch = scarthgap
[submodule "layers/meta-iot-cloud"]
	path = layers/meta-iot-cloud
	url = https://github.com/intel-iot-devkit/meta-iot-cloud.git
[submodule "layers/meta-rockchip"]
	path = layers/meta-rockchip
	url = https://github.com/radxa/meta-rockchip.git
